body {
    display: flex;
    flex-direction: column;
    font-family: ro;
}

.header {

    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 10px;
    padding-bottom: 150px;

}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    flex-grow: 1;
    background-color: #1f2937;

}

.header-links{
    display: flex;
    flex-grow: 1;
    background-color: #1f2937;
    justify-content: flex-end;
    
}


.logo {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;

}

a {
    font-size: 18px;
    text-decoration: none;
    color: #f9faf8;
    margin-left: 8px;
    
    
}

.hero {
    display: flex;
    
    justify-content: center;
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
    
}

.hero-image {
    height: 250px;
    width: 500px;
    flex-shrink: 0s;
    
    width: auto;
    margin-left:50px;
    margin-top: 0px;
}
.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
}
.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}
.hero-signup {
    background-color: #3882F6;
    color: #F9FAF8;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    margin-top: 10px;
   

}

.hero-left{
    margin-right: 270px;
}

.images {
    display: flex;
    
    
}

.image {
    height: 200px;
    width: 150px;
    margin: 10px;
}

.picture {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;

}

.illustrations {
    display: flex;
    align-items: center;
    flex-direction: column;
}
p {

    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;

}

.quote{

    padding-top: 100px;
    padding-bottom: 100px;


   
    margin-top: 60px;
   
    background-color: #E5E7EB;
    
}

.quote-container {
    margin-left: 550px;
    margin-right: 550px;
}

.quote-text{
    font-size: 36px;
    font-style: italic ;

}
.attribution {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;

}

.call-to-action-section {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    
}

.center-banner{
    background-color: #3882F6;
    flex-grow: 1;
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 5px;
    

}

.center-banner {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 100px;

}

.banner-sub{
    color: #f9faf8;
    font-size: 16px;
}

.banner-text {
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
}

.center-banner .hero-signup {
    border: 2px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}
.footer p {

    color:#f9faf8;
    font-size: 16px;

}


